    def glCompressedTexImage2D(target: Int, level: Int, internalFormat: Int,
                               width: Int, height: Int, border: Int, imageSize: Int, data: java.nio.Buffer) = {
        org.lwjgl.opengl.GL13.glCompressedTexImage2D(target, level, internalFormat, width, height, border,
                                                     data.asInstanceOf[java.nio.ByteBuffer])
    }